body {
  background-color: #0d0d15;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #f8f7ff;
  font-style: normal;
}

.head-name {
  font-family: "Bakbak One";
  font-size: 32px;
  line-height: 1.3;
  text-transform: capitalize;
}

.header-link {
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #f8f7ff;
}

.header-button {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: #f8f7ff;
}

.header-button-connect {
  background: #0265dc;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: #f8f7ff;
}

.heading-title {
  text-align: center;
  font-family: "Bakbak One";
  font-size: 52px;
  line-height: 1.2;
  letter-spacing: -0.5px;
}
.page-link {
  font-weight: 600;
  color: #f8f7ff;
  text-decoration: none;
  line-height: 1.4;
}

.heading-aside {
  font-family: "Bakbak One";
  font-size: 24px;
  line-height: 1.3;
}

.list-item {
  color: #f8f7ff;
  text-decoration: none;
  font-weight: 600;
  line-height: 1.4;
}

.button-list-item {
  color: #f8f7ff;
  text-decoration: none;
  text-align: center;
  font-weight: 600;
  line-height: 1.4;
}

.heading-text {
  font-family: "Bakbak One";
  font-size: 36px;
  line-height: 1.3;
  letter-spacing: -0.5px;
}

.game {
  background: #0265dc;
  font-size: 18px;
  font-weight: 600;
}

.person {
  font-weight: 600;
  line-height: 1.4;
}
.highlight {
  background-color: #0265dc;
}

.center-text {
  font-size: 18px;
}
.text-link {
  text-decoration: none;
}

.list-text {
  font-size: 18px;
}

.catalog {
  font-size: 18px;
}

.blog {
  background: #002754;
}

.text-block {
  font-size: 24px;
  line-height: 1.2;
  text-transform: capitalize;
}

.lower-block {
  font-weight: 600;
  line-height: 1.4;
}

.heading-information {
  font-family: "Bakbak One";
  font-size: 28px;
  line-height: 1.4;
}

.heading-last {
  font-family: "Bakbak One";
  font-size: 28px;
  line-height: 1.3;
}

.small-heading {
  font-size: 16px;
}

.small-heading-list {
  color: #f8f7ff;
  text-decoration: none;
  font-weight: 600;
  line-height: 20px;
}

.binabox {
  color: #0265dc;
  font-family: "Bakbak One";
  font-size: 32px;
  line-height: 1.3;
  text-transform: capitalize;
}

.footer-text {
  line-height: 20px;
}

.footer-header {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
}

.subcribe-list {
  color: #f8f7ff;
  text-decoration: none;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.3;
}

.footer-lower-part {
  text-align: left;
  line-height: 1.4;
}