body {
  background-color: #0d0d15;
  font-family: "Poppins", Arial, sans-serif;
}

.head-name{
  color: #FFF;
font-family: "Bakbak One";
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: 42px; 
text-transform: capitalize;
}

.header-link{
  color:  #F5F8FB;
  text-decoration: none;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 24px; 
}

.header-button{
  color: #F5F8FB;
  text-decoration: none;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 28px; 
}

.header-button-connect{
  background: #0265DC;
  text-decoration: none;
  color: #F5F8FB;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 28px; 
}

.header-one{
  color: #F8F7FF;
text-align: center;
font-family: "Bakbak One";
font-size: 52px;
font-style: normal;
font-weight: 400;
line-height: 62px;
letter-spacing: -0.5px;
}

.page-link{
  color:#F5F8FB;
  text-decoration: none;
text-align: center;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 20px; 
}

.header-two{
  color: #F5F8FB;
font-family: "Bakbak One";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 32px; 
}

.list-items{
  color:#F5F8FB;
  text-decoration: none;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 20px;
}

.header-three{
  color: #F5F8FB;
font-family: "Bakbak One";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 32px;
}

.button-list{
  text-decoration: none;
  color:#F5F8FB;
text-align: center;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 20px; 
}

.header-four{
  color:#F8F7FF;
font-family: "Bakbak One";
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: 48px;
letter-spacing: -0.5px;
}

.game{
  color:#F5F8FB;
  background: #0265DC;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 28px; 
}

.person{
  color:rgba(239, 245, 250, 0.82);
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 20px;
}
.highlight{
  background-color: #0265DC;
  color: #F5F8FB;
}

.center-text{
  color: #F8F7FF;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; 
}
.text-link{
  text-decoration: none;
}

.list-text{
  color:#F8F7FF;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px;
}

.catalog{
  color: #F8F7FF;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px;
}

.blog{
background: #002754;
}

.text-block{
  color:  #F8F7FF;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 30px; 
text-transform: capitalize;
}

.lower-block{
  color: #F8F7FF;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 20px; 
}

.header-five{
  color: #F8F7FF;
font-family: "Bakbak One";
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: 36px; 
}

.header-six{
  color:  #F8F7FF;
font-family: "Bakbak One";
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: 36px;
}

.small-header{
  color: #F8F7FF;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
}

.binabox{
  color:#0265DC;
font-family: "Bakbak One";
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: 42px;
text-transform: capitalize;
}

.footer-text{
  color: #F5F8FB;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; 
}

.footer-header{
  color: #F5F8FB;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 28px; 
}

.subcribe-list{
  color: #F5F8FB;
  text-decoration: none;
text-align: center;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 16px;
}

.footer-lower-part{
  color:#F5F8FB;
text-align: left;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px;
}